

<div class="group-idea">
  <h1 class="group-idea-title">기술적 장벽 때문에 자신의 생각을 실현하실 수 없던 모든 중앙대 학우분들과 함께
  도전을 해 나갈 순간을 만들고 싶습니다.</h1>
</div>

<div class="what-we-do">
  <section class="our-item">
    <h2 class="our-item-title">스터디</h2>
    <p class="our-item-content"> 코딩이 처음이셔도 상관없습니다. <br />같이 배우면서 함께 성장해 나가봅시다!!!! </p>
  </section>

  <section class="our-item">
    <h2 class="our-item-title">해커톤</h2>
    <p class="our-item-content"> [기획+개발+런칭]을 하루만에..! <br />열심히 쌓은 실력을 해커톤에 쏟아봅시다. </p>
  </section>

  <section class="our-item">
    <h2 class="our-item-title">스터디</h2>
    <p class="our-item-content"> 학교 내 사람들 뿐만 아니라 연합세미나를 진행하며 학교간 교류도 활발히 진행합니다. </p>
  </section>
</div>
