


<div class="team-name">
  <%= link_to '화요일', posts_path, :class => "button btn-first" %>
  <%= link_to '수요일 팀', posts_path, :class => "button btn-second" %>
  <%= link_to '목요일 팀', posts_path, :class => "button btn-third" %>
  <%= link_to '금요일 팀', posts_path, :class => "button btn-fourth" %>
</div>
