// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.group-idea {
  padding: 10px 0 40px 0;
}

.group-idea .group-idea-title {
  font-size: 1.5em;
  text-align: center;
}

.what-we-do {
  position: relative;
}

.what-we-do .our-item {
  padding: 10px 0;
  border-top: 1px solid #c9c1c1;
  margin: 0 2%;
}

.what-we-do .our-item .our-item-title {
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 10px;
}

.what-we-do .our-item .our-item-content {
  padding-bottom: 30px;
}

.tutor {
  position: relative;
}

.tutor .tutor-6th {
  padding: 10px 0;
  margin: 0 2%;
}

.tutor .tutor-6th .tutor-6th-leader {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 10px;
}

.tutor-6th-content {
  font-size: 1.3em;
}




@media (min-width: 768px) {
  .what-we-do {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .our-item {
    float: none;
    width: 46%;
  }
}

/* 만약 브라우저의 크기가 1024px 이상이라면 */
@media (min-width: 1024px) {
  .our-item {
    width: 29.333333%;
  }
}

/* 만약 브라우저의 크기가 1366px 이상이라면 */
@media (min-width: 1366px) {
  .our-item {
    width: 21%;
  }
}
